*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #e3dbf6, #a99bf9);
    padding: 10px;
}

.card{
    width: 350px;
    height: 515px;
    background-color: #fff;
    margin: 100px auto 0;
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
}

.front{
    background: url(images/user.png);
    background-size: cover;
    background-position: center;
}